@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
	button {
		cursor: pointer;
	}

	button:disabled {
		cursor: not-allowed;
	}

	a {
		cursor: pointer;
		color: #2563eb;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	a:visited {
		color: #7e22ce;
	}

	[data-theme="dark"] a {
		color: #60a5fa;
	}

	[data-theme="dark"] a:visited {
		color: #c084fc;
	}
}
